@font-face {
    font-family: 'IBMVGA8';
    src: url("#{$font-path}/ibm_vga8.eot");
    src: url("#{$font-path}/ibm_vga8.eot?#iefix") format('embedded-opentype'),
    url("#{$font-path}/ibm_vga8.woff2") format('woff2'),
    url("#{$font-path}/ibm_vga8.woff") format('woff'),
    url("#{$font-path}/ibm_vga8.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}