@import 'util/util';
@import 'ibm_vga8';

.#{$css-prefix} {
    &__wrapper {
        min-width: rem-calc(320);
    }

    &__header {
        margin-top: 1rem;
    }

    &__brand {
        @include breakpoint(small only) {
            text-align: center;
            margin-bottom: 1rem;
        }

        &--l33tMode {
            display: none;
        }
    }

    &__eventInfo {
        // todo: replace these with SVGs so we can manipulate the color easily
        background: url("#{$image-path}/chalice.svg") right center no-repeat;
        background-size: contain;
        color: $theme-color04;
        padding-right: rem-calc(40);

        @include breakpoint(small only) {
            background: none;
            padding-right: 0;
        }
    }

    &__annual,
    &__eventDate {
        display: block;
        text-align: right;
        white-space: nowrap;

        @include breakpoint(small only) {
            text-align: center;
        }
    }
    
    &__annual {
        font-size: rem-calc(14);
        letter-spacing: rem-calc(-1);

        @include breakpoint(medium up) {
            font-size: rem-calc(16);
        }
    }

    &__eventDate {
        font-size: rem-calc(26);
        letter-spacing: rem-calc(-2);
        text-transform: uppercase;

        @include breakpoint(medium up) {
            font-size: rem-calc(32);
        }
    }

    &__navMain {
        margin: 1rem 0;

        ul {
            background-color: $theme-color05;
            font-size: rem-calc(14);
            font-weight: bold;
            letter-spacing: rem-calc(-1);

            li {
                text-transform: uppercase;

                a {
                    color: $theme-color04;
                    line-height: rem-calc(30);
                    text-decoration: none;
                    padding: 0 0.5rem;

                    &:hover {
                        background-color: $theme-color04;
                        color: $theme-color05;
                    }

                    &:active {
                        background-color: lighten($theme-color04, 10%);
                        color: lighten($theme-color05, 10%);
                    }
                }

                &.selected {
                    a {
                        color: #4a5455;

                        &:hover {
                            color: $theme-color05;
                        }

                        &:active {
                            color: lighten($theme-color05, 10%);
                        }
                    }
                }
            }

            @include breakpoint(medium up) {
                font-size: rem-calc(16);

                li {
                    a {
                        line-height: rem-calc(40);
                        padding: 0 1rem;
                    }
                }
            }
        }
    }

    &__askCheesy {
        position: relative;
    }

    &__askCheesy--hover &__cheesySurprise {
        @include breakpoint(medium up) {
            visibility: visible;
            bottom: 35px;
        }
    }

    &__cheesySurprise {
        background: url("#{$image-path}/ask-cheesy-hover.png") no-repeat;
        bottom: 0;
        visibility: hidden;
        height: 75px;
        position: absolute;
        right: 31px;
        width: 43px;
        z-index: -1;
        transform: translate3d(0, 0, 0);
        transition: all 0.1s ease-in-out;
    }

    &__foundingFathers {
        width: 100%;
    }
}

// Easter Egg

body.#{$css-prefix}--l33tMode {
    background-color: #000;
    
    * {
        font-family: 'IBMVGA8';
        color: $theme-colorl33t;
    }

    .#{$css-prefix} {
        &__brand {
            display: none;

            &--l33tMode {
                display: block;
            }
        }

        &__eventInfo {
            background: url("#{$image-path}/chalicel33t.svg") right center no-repeat;
            background-size: contain;
        }

        &__navMain {
            ul {
                background-color: #000;

                li {
                    a {
                        color: $theme-colorl33t;
                    
                        &:hover {
                            background-color: $theme-color04;
                            color: $theme-colorl33t;
                        }

                        &:active {
                            background-color: lighten($theme-color04, 10%);
                            color: whitesmoke;
                        }
                    }

                    &.selected {
                        a {
                            background-color: $theme-color04;
                            color: white;

                            &:hover,
                            &:active {
                                color: whitesmoke;
                            }
                        }
                    }
                }
            }
        }
    }
}

// .main-gallery {
//     $height-small: rem-calc(260);
//     $height-medium-up: rem-calc(460);
//     $flickity-prev-next-button-left-right: rem-calc(35);

//     height: $height-small;
//     margin-bottom: 1rem;

//     .gallery-cell {
//         img {
//             display: block;
//             height: $height-small;
//             max-width: none;
//             // vertical-align: baseline;
//         }
//     }

//     @include breakpoint(medium up) {
//         height: $height-medium-up;

//         .gallery-cell {
//             img {
//                 height: $height-medium-up;
//             }
//         }
//     }

//     .flickity-prev-next-button {
//         background: hsla(0, 0%, 100%, 0.25);

//         &:hover {
//             background: hsla(0, 0%, 100%, 0.55);
//         }
//     }

//     .flickity-prev-next-button.previous {
//         left: $flickity-prev-next-button-left-right;
//     }

//     .flickity-prev-next-button.next {
//         right: $flickity-prev-next-button-left-right;
//     }


// }

// .features {
//     .feature {
//         text-align: center;
//     }

//     h2,
//     h3 {
//         line-height: 1;
//     }

//     h2 {
//         background-color: $theme-color05;
//         color: $theme-color04;
//         font-size: rem-calc(24);
//         letter-spacing: rem-calc(-1);
//         margin-bottom: 1rem;
//         padding: 1rem;
//         text-transform: uppercase;
//     }

//     h3 {
//         color: $theme-color04;
//         font-size: rem-calc(24);
//         margin-bottom: rem-calc(10);
//     }
// }

// .img-sidebar {
//     text-align: right;
// }

// .bar {
//     margin: 0 0 1rem;
// }

// .bar-header {
//     padding-bottom: 1rem;
// }

// .bar-name {
//     font-size: rem-calc(22);
// }

// .bar-timeslot {
//     color: $theme-color03;
//     display: block;
//     font-size: rem-calc(14);
//     line-height: rem-calc(22);
//     text-align: right;

//     @include breakpoint(small only) {
//         text-align: left;
//     }
// }

// .activities {
//     font-weight: bold;
// }