<div class="{{ global.cssPrefix }}__gallery-cell">
    <img data-flickity-lazyload="{{ root }}/assets/img/gallery/2014/IMG_6723.jpg" alt="">
</div>
<div class="{{ global.cssPrefix }}__gallery-cell">
    <img data-flickity-lazyload="{{ root }}/assets/img/gallery/2014/IMG_6726.jpg" alt="">
</div>
<div class="{{ global.cssPrefix }}__gallery-cell">
    <img data-flickity-lazyload="{{ root }}/assets/img/gallery/2014/IMG_6727.jpg" alt="">
</div>
<div class="{{ global.cssPrefix }}__gallery-cell">
    <img data-flickity-lazyload="{{ root }}/assets/img/gallery/2014/IMG_6728.jpg" alt="">
</div>
<div class="{{ global.cssPrefix }}__gallery-cell">
    <img data-flickity-lazyload="{{ root }}/assets/img/gallery/2014/IMG_6729.jpg" alt="">
</div>
<div class="{{ global.cssPrefix }}__gallery-cell">
    <img data-flickity-lazyload="{{ root }}/assets/img/gallery/2014/IMG_6731.jpg" alt="">
</div>
<div class="{{ global.cssPrefix }}__gallery-cell">
    <img data-flickity-lazyload="{{ root }}/assets/img/gallery/2014/IMG_6732.jpg" alt="">
</div>
<div class="{{ global.cssPrefix }}__gallery-cell">
    <img data-flickity-lazyload="{{ root }}/assets/img/gallery/2014/IMG_6733.jpg" alt="">
</div>
<div class="{{ global.cssPrefix }}__gallery-cell">
    <img data-flickity-lazyload="{{ root }}/assets/img/gallery/2014/IMG_6725.jpg" alt="">
</div>
<div class="{{ global.cssPrefix }}__gallery-cell">
    <img data-flickity-lazyload="{{ root }}/assets/img/gallery/2014/IMG_6738.jpg" alt="">
</div>
<div class="{{ global.cssPrefix }}__gallery-cell">
    <img data-flickity-lazyload="{{ root }}/assets/img/gallery/2014/IMG_6720.jpg" alt="">
</div>
<div class="{{ global.cssPrefix }}__gallery-cell">
    <img data-flickity-lazyload="{{ root }}/assets/img/gallery/2014/IMG_6745.jpg" alt="">
</div>
<div class="{{ global.cssPrefix }}__gallery-cell">
    <img data-flickity-lazyload="{{ root }}/assets/img/gallery/2014/IMG_6746.jpg" alt="">
</div>
<div class="{{ global.cssPrefix }}__gallery-cell">
    <img data-flickity-lazyload="{{ root }}/assets/img/gallery/2014/IMG_6747.jpg" alt="">
</div>
<div class="{{ global.cssPrefix }}__gallery-cell">
    <img data-flickity-lazyload="{{ root }}/assets/img/gallery/2014/IMG_6748.jpg" alt="">
</div>
<div class="{{ global.cssPrefix }}__gallery-cell">
    <img data-flickity-lazyload="{{ root }}/assets/img/gallery/2014/IMG_6749.jpg" alt="">
</div>
