<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ global.siteName }} | {{ title }}</title>
    <link type="image/x-icon" href="{{ root }}assets/img/favicon.ico">
    <link rel="stylesheet" href="{{ root }}assets/css/app.css">
  </head>
  <body>
    <div class="{{ global.cssPrefix }}__wrapper">
        {{> header }}
        {{> body }}
    </div>
    <script src="{{ root }}assets/js/app.js"></script>
  </body>
</html>
